body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

header {
  text-align: center;
  padding: 30px;
  padding-bottom: 5px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.codedirection {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.codedirection a {
  text-decoration: none;
  color: black;
}

.title-second {
  font-size: smaller;
}

.container {
  background-color: gainsboro;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 12px;
}

.container-small {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 4px 4px grey;
  padding: 10px;
  position: relative;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(208, 166, 248);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 4px grey;
  height: 40px;
  position: absolute;
  top: -2px;
  left: -4px;
  right: -4px;
}

.section-header {
  padding: 0px;
  line-height: 1;
  font-size: 18px;
}

.section {
  padding: 45px 10px 5px 10px;
}

.modular,
.interactive {
  background-color: rgb(58, 133, 108);
  color: white;
  padding: 2px 5px;
}

.interactive {
  background-color: rgb(42, 42, 133);
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

img {
  width: 100%;
  height: auto;
}

ul {
  margin-top: 5px;
}

li {
  list-style-type: square;
}

footer {
  text-align: center;
  padding: 10px;
}
